.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;

}
.nav-area li{
    display: inline-block;
    top: -17px;
}
.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;

}
.nav-area li a:hover{
    background: white;
    color: #333;

}
nav ul ul{
    position: absolute;
    top: 60px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;

    
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    background-color: black transparent;
    top: 4px;
   
}

nav ul ul li a{
    line-height: 50px;
    background-color: black;
    border: white solid 1px;
    

}

nav  ul li:hover>ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    
}

.logo{
    width: 10px;
    float: left;
    height: auto;
    line-height: 26px;
    color: white;
    
}
/* Category Section */
.cards{
    height: 292px;
    width: 200px;
    box-sizing: border-box;
    background:white;
    border-radius: 10px;
    border: black solid;
    transition: transform 0.5s;
    box-shadow: 3px 2px 9px black;
    
}
.category1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
}
.cards img{
    height: 237px;
    width: 194px;

}
 .cards p{

    line-height: 5px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 13px;
}
.cards:hover{
    transform: translateY(-10px);
}
.category2
{display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}
.category3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}

.category4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}
.category-container h2{
    position: relative;
    top: 74px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #4CAF50;
    left: 66px;
}

/* footer */

